*.pyc
*.tar.gz

aclocal.m4
config.log
configure
config.status
install-sh
Makefile
Makefile.in
missing
py-compile

autom4te.cache/
m4/intltool.m4
po/POTFILES
po/Makefile.in.in
po/stamp-it
data/Makefile
data/desktop-entry-editor.desktop
data/*.gschema.valid
src/desktop-entry-editor
